
#wrapper {width:1920px; margin:0 auto; font-size:16px;  }


/*================================================================
    header
  ================================================================ */

.video_container {width:100%; height:1080px;position:relative; }
#video { position:absolute; top:0; left:0; width:100%; height:auto;}
#video .video_op {width:900px; height:500px; position:absolute; top:50%; left:50%;background-color:rgba(0,0,0, .5); z-index:2; }
.video_container::after{content:""; display:block; width:100%; height:100%; position:absolute; top:0; left:0; background-color:rgba(0,0,0, .5); z-index:1;}





/*================================================================
    section - contents
  ================================================================ */

#content_wrap {width:1200px;  margin:0 auto; border:1px solid red;}
#content_wrap div h2 {font-size:33px; font-weight:900; color:#5b4b29; text-align:center;  }
#content_wrap div p {font-size:13px; color:#8c8c8c; text-align:center; }
#content_wrap section {width:100%; height:850px;}
/* #content_wrap section{box-sizing:border-box;} */

#content_wrap section:nth-child(4) {height:1000px;}

#content_wrap .video_reference { background-color:#f5f4ef;  }
#content_wrap .video_reference h2 {padding-top:117px;}
#content_wrap .video_reference p {padding:34px 0 50px;}

#content_wrap .logic { }
#content_wrap .logic h2 {padding-top:117px;}
/* #content_wrap .logic p:first-child {padding:34px 0 0 ;} */
#content_wrap .logic .p_first {padding:34px 0 0 ;}
#content_wrap .logic p:last-child {padding:9px 0 0;} 

#content_wrap .system { background-color:#f8f5ee;}
#content_wrap .system h2 {padding-top:83px;}
/* #content_wrap .system p:first-child {padding:34px 0 0;} */
#content_wrap .system .p_first {padding:34px 0 0 ;}
#content_wrap .system p:last-child {padding:9px 0 0;} 

#content_wrap .service {}
#content_wrap .service h2 {padding:83px 0 52px;}
#content_wrap .service ul {width:1002px; margin:0 auto;}
#content_wrap .service ul li { float:left; box-sizing:border-box;}
#content_wrap .service ul li:nth-child(2) {margin:0 6px 0;}
#content_wrap .service ul li a {display:inline-block; width:330px; font-size:14px; background-color:#fff;; color:#9b8661; padding:13px 0px 14px;box-sizing:border-box; text-align:center; border:1px solid #9b8661; border-radius:20px;} 
#content_wrap .service ul li a:hover {background-color:#9b8661; color:#fff;}


#content_wrap .roadmap {background-color:#f5f4ef;}
#content_wrap .roadmap h2 {padding-top:83px;}




/*================================================================
    footer
  ================================================================ */
.foot { width:1200px; height:82px; line-height:82px; margin:0 auto; background:#000; color:#fff; text-align:center;}
.foot b{font-weight:900; color:#fff;}



