@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

body{width:100%; }

#wrapper{ width:100%; max-width:2500px; margin:auto; font-family:'Noto Sans KR', sans-serif;  font-size:1em; color:#2e2e2e; font-weight:400; font-size:100%; font-stretch: 100%;}

header .gnb_wrap {width:100%; max-width:2500px; position:fixed; top:0;z-index:5000; background:#fff;;}
header .gnb_wrap .logo {float:left; padding:26px 0 26px 52px;}
header .gnb_wrap .gnb {float:right;  }
header .gnb_wrap .gnb_mob {display:none; }
header .gnb_wrap .gnb > ul {width:100%; padding:31px 12.4% 28px 0;  }
header .gnb_wrap .gnb > ul li {float:left; }
header .gnb_wrap .gnb > ul >li:last-child {margin-left:40px; position:relative;}
header .gnb_wrap .gnb > ul li a {padding:12px 14px; font-size:14px; font-weight:400; color:#211714; position:relative;}
header .gnb_wrap .gnb > ul li:last-child span{ vertical-align:middle; line-height:.2; display:inline-block; }
header .gnb_wrap .gnb > ul li:last-child .lang_box {display:none; position:absolute; top:30px; left:0; clear:both; margin-left:0;  border:1px solid #666; border-radius:5px; background:rgba(0,0,0, .3); padding:10px 0;}


header .gnb_wrap .gnb > ul li:last-child span:last-child {margin:0 30px 0 10px; font-size:11px;color:#a0a0a0;}

.nav_active {background:rgba(173, 69, 0, 0.75); width:65%; height:4px; position:absolute; top:0; left:50%; transform:translateX(-50%);}


#wrapper .main_con {  width:100%;height:1080px; max-width:2500px; background:url('../images/bg_main.jpg') center no-repeat; margin:auto; position:relative;}
#wrapper .main_con .main_text {display:flex; justify-content: center; align-items:flex-end;height:1080px;}

#wrapper .main_con .main_text img {width:94%; padding:0 3%; min-width:700px; max-width:740px; margin:auto;}


@media screen and (max-width:790px) {
    #wrapper .main_con .main_text img {width:100%; min-width:620px;}
}

@media screen and (max-width:720px) {
    #wrapper {font-size:.9em;}
    header .gnb_wrap .logo {padding:26px 0 26px 40px; position:fixed; top:0; left:0;}
    header .gnb_wrap .gnb {display:none;}
    header .gnb_wrap .gnb_mob {display:block; height:80px;}
    #wrapper .main_con {width:100%; height:100vh;}
    #wrapper .main_con .main_text img {min-width:540px; }
    
    header .gnb_wrap .gnb_mob {width:100%; }
    header .gnb_wrap .gnb_mob > ul {background:rgba(83, 52, 31, 0.75); width:83%; padding:90px 8.5%; position:absolute; top:-1000px;right:0; transition:all ease-in-out 600ms;}
    header .gnb_wrap .gnb_mob > ul li {width:100%;}
    header .gnb_wrap .gnb_mob > ul li:last-child {margin-top:237px;}
    header .gnb_wrap .gnb_mob > ul li:last-child span:nth-child(2) {margin:0 0 0 40px;}
    header .gnb_wrap .gnb_mob > ul li a {color:#fff; font-size:1.6em;font-weight:300; padding:29px 0; display:inline-block;width:100%; text-align: left;}
    

    /* menu_toggle */
    header .gnb_wrap .gnb_mob .menu_toggle {position:absolute; top:50%; right:10%;  transform:translateY(-50%); background:rgba(255, 255, 255, 0);  cursor:pointer; padding:1.3em; }
    header .gnb_wrap .gnb_mob .menu_toggle > div {position:absolute; width:2em; height:3px; border-radius:3px; background:#222; transition:all ease-in-out 600ms; }
    header .gnb_wrap .gnb_mob .menu_toggle > div:nth-child(1) {top:20%; left:50%; transform:translateX(-50%);}
    header .gnb_wrap .gnb_mob .menu_toggle > div:nth-child(2) {top:50%; left:50%; transform:translate(-50%, -50%);}
    header .gnb_wrap .gnb_mob .menu_toggle > div:nth-child(3) {bottom:20%; left:50%; transform:translateX(-50%);}
                
    header .gnb_wrap .gnb_mob .menu_toggle > .hamburger:nth-child(1) {top:50%; left:50%; transform:translate(-50%, -50%) rotate(135deg); background:#fff; transition:all ease-in-out 600ms;}
    header .gnb_wrap .gnb_mob .menu_toggle > .hamburger:nth-child(2) {left:50%; transform:translate(-50%, -50%) scale(2); opacity:0;   background:#fff; transition:all ease-in-out 600ms;}
    header .gnb_wrap .gnb_mob .menu_toggle > .hamburger:nth-child(3) {bottom:50%; left:50%; transform:translate(-50%, 50%) rotate(-135deg); background:#fff; transition:all ease-in-out 600ms;}

    header .gnb_wrap .gnb_mob .con_toggle {position:absolute; top:0;}
    
   
    #wrapper .main_con {width:100%;height:1080px; max-width:2500px; background:url('../images/bg_main.jpg')    center no-repeat; margin:auto; position:relative;}



    



}

@media screen and (max-width:610px) {
    #wrapper .main_con .main_text img {min-width:440px; }
}

@media screen and (max-width:500px) {
    #wrapper .main_con .main_text img {min-width:400px; }
}