@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

body{width:100%; font-size:16px; }

.skip > a {position:absolute; top:-500px; left:0; font-size:20px; background:#333; color:#fff;  text-align:center;  padding:30px 50px;}
.skip > a:focus {top:0; left:0; z-index:9999;}
.hidden {text-indent:-9999px;}
.wrapper{ width:100%;  height:100vh; max-width:2500px;   margin:0 auto; font-family:'Noto Sans KR', sans-serif;  font-size:1em; color:#2e2e2e; font-weight:400; font-size:100%; font-stretch: 100%; position:relative; }

/* ============================================================================
   side_icon
============================================================================ */
.wrapper .side_left {position:fixed; bottom:10vh; left:1vw;z-index:500;}
.wrapper .side_left > ul > li {margin:20px 0;}
.wrapper .side_left > ul > li:last-child{font-size:22px; font-weight:400; color:#fff; margin-top:50px;}
.wrapper .side_right {position:fixed; bottom:10vh; right:1vw; z-index:500;}
.wrapper .side_right > ul > li {margin:5px 0;}
.wrapper .side_left_to li a img {display:inline-block;}



.wrapper .side_left_mo {display:none;position:fixed; bottom:15.26%; left:6.25%}
.wrapper .side_left_mo > ul > li {margin:20px 0;}
.wrapper .side_left_mo > ul > li:last-child{font-size:22px; font-weight:400; color:#fff; margin-top:50px;}
.wrapper .side_right_mo {display:none;position:fixed; bottom:2.54%; right:7.7%;}
.wrapper .side_right_mo > ul > li {margin:0px 5px; display:inline-block;}

.wrapper .side_left_to > ul > li .side_ico_ch {display:none;}
.wrapper .side_left_to ul .side_this .side_ico_df{display:none;}
.wrapper .side_left_to ul .side_this .side_ico_ch{display:inline-block;}
.wrapper .side_left_to ul .side_this {color:#1d9cf5 !important;}


.wrapper .side_left_toto > ul > li .side_ico_ch {display:none;}
.wrapper .side_left_toto ul .side_this .side_ico_df{display:none;}
.wrapper .side_left_toto ul .side_this .side_ico_ch{display:inline-block;}
.wrapper .side_left_toto ul .side_this {color:#1d9cf5 !important;}






/* ============================================================================
    header_area
============================================================================ */
.wrapper header { position:fixed; top:0;  width:100%; max-width:2500px; height:108px; z-index:1000; border-bottom:1px solid #fff; box-sizing:border-box;  background:linear-gradient(to right, #0c95f5,#44acf6); background-size:100% 100%;}
.wrapper header > h2 > a > .logo_ch {display:none;}

.wrapper .scroll_header { background:#fff; color:#1d9cf5 !important; border-bottom:1px solid #1d9cf5; }
.wrapper .scroll_header .logo_df {display:none;}
.wrapper .scroll_header .logo_ch {display:block;}
.wrapper .scroll_header .text_this {color:#1d9cf5;}

.wrapper header .logo {float:left; }
.wrapper header .gnb_pc {float:right;}
.wrapper header .gnb_pc > ul { height:108px; display:flex; }
.wrapper header .gnb_pc > ul > li {  padding-top:20px;}
.wrapper header .gnb_pc > ul .resister_box {margin:0 0 0 34px; }
.wrapper header .gnb_pc > ul .resister_box .ent_bar {color:#fff;}
.wrapper header .gnb_pc > ul > li > a {display:inline-block; font-size:16px; padding:30px 8px; color:#fff; }
/* .wrapper header .gnb_pc > ul > li > a:focus {} */
.wrapper header .gnb_mob{display:none;}
.clear_fix {clear:both;}



.wrapper header .gnb_pc > ul .show_lang {position:relative;}
.wrapper header .gnb_pc > ul .show_lang > a {padding:30px 10px 30px 15px;}
.wrapper header .gnb_pc > ul .show_lang > a > span { vertical-align: middle; padding:0 3px; font-size:11px;}
.wrapper header .gnb_pc > ul .show_lang > .lang_box{ display:none; position:absolute; top:85px; left:-15px; clear:both;  border:1px solid #666; border-radius:5px; background:rgba(0,0,0, .2); box-sizing:border-box; }
.wrapper header .gnb_pc > ul .show_lang > .lang_box li{float:left;}
.wrapper header .gnb_pc > ul .show_lang > .lang_box li a {padding:10px 10px; display:inline-block;}
.wrapper header .gnb_pc > ul .show_lang > .lang_box li a:hover,.wrapper header nav > ul .show_lang > .lang_box li a:focus {background:rgba(0,0,0, .4);} 

.under_bar > a{position:relative; }
.under_bar > a > span{width:80%; height:10px;  position:absolute; top:-20px; left:50%; transform:translateX(-50%);display:inline-block;}

.active_bar {background:#fff;}
.under_bar .active_bar_this span{background:#fff;}
.scroll_active .active_bar {background:#1498f5;}
.scroll_active .active_bar_this span{background:#1498f5;}

/* ============================================================================
    main_area
============================================================================ */
.wrapper .main_area {width:100%; max-width:2500px; height:100vh; max-height:1080px; background:linear-gradient(to right, #0c95f5,rgba(12,149,245, .7)); background-size:151% 100%;}
.wrapper .main_area .main_wrap {width:100%; max-width:1920px; height:1080px; max-height:1080px; margin-left:auto; margin-right:auto;}
.wrapper .main_area .main_con {background:url('../images/main_logo.png')no-repeat ; background-position:50% 100%; height:1080px;  width:100%; max-width:1920px;}
.wrapper .main_area_mob {display:none;}

/* ============================================================================
    section_intro
============================================================================ */
.wrapper .section_intro {width:100%; max-width:2500px; height:1080px;  background:#fff;}
.wrapper .section_intro .intro_wrap {width:100%; max-width:1920px; height:1080px;  margin-left:auto; margin-right:auto; position:relative;}
.wrapper .section_intro .intro_wrap .intro_text {position:absolute; top:50%;transform:translateY(-50%); margin-left:12.4%; width:100%; max-width:760px; z-index:2;  text-shadow:2px 2px 1px #fff;}
.wrapper .section_intro .intro_wrap .intro_text > h2 {font-size:62px; color:#1d9cf5; font-weight:bold;}
.wrapper .section_intro .intro_wrap .intro_text > h3 {font-size:28px; color:#1d9cf5; font-weight:400; padding:72px 0 52px 0; }
.wrapper .section_intro .intro_wrap .intro_text > p  {font-size:18px; color:#242424; font-weight:lighter; line-height:1.3; }

.wrapper .section_intro .intro_wrap .intro_img { max-width:586px; position:absolute; top:300px; left:54%; }
.wrapper .section_intro .intro_wrap .intro_img img {width:100%;max-width:586px; min-width:450px;}
.wrapper .section_intro_mob {display:none;}

/* ============================================================================
    section_video
============================================================================ */
.wrapper .section_video {width:100%; max-width:2500px; background:linear-gradient(to right, #0c95f5,rgba(12,149,245, .7)); background-size:151% 100%;}
.wrapper .section_video .video_wrap {width:100%;  max-width:1920px;  margin-left:auto; margin-right:auto;   }
/* .wrapper .section_video .video_wrap .video_box {position:relative; padding-bottom:56.25%; overflow:hidden; height:0; } 
.wrapper .section_video .video_wrap iframe {position:absolute; top:0; left:0%;  width:100%; height:100%; max-width:964px; max-height:514px; } 모바*/

.wrapper .section_video .video_wrap .video_box { width:95%; height:516px; display:flex; justify-content: center; padding:284px 2.5%  282px 2.5%;} 
.wrapper .section_video .video_wrap iframe {  width:100%;   height:100%; max-width:964px; }



/* ============================================================================
    section_slide
============================================================================ */
.wrapper .section_visual {width:100%; max-width:2500px; background:#fff;}
.wrapper .section_visual .visual_wrap {width:100%; height:auto; max-width:1920px;  margin-left:auto; margin-right:auto;   }
.wrapper .section_visual .visual_wrap .slide_box {padding:140px 0 128px 0;  } 
.wrapper .section_visual .visual_wrap .slide_box .slide_text  {width:49%; height:100%; padding-left:1%;  text-align:left; position:relative; }
.wrapper .section_visual .visual_wrap .slide_box .slide_text .text_pos {position:absolute; top:50%; left:17%; transform:translateY(-50%);}
.wrapper .section_visual .visual_wrap .slide_box .slide_text h2 {font-size:46px; font-weight:400; color:#1d9cf5; line-height:1.3; }
.wrapper .section_visual .visual_wrap .slide_box .slide_text p {font-size:20px; font-weight:lighter; color:#232323; line-height:1.3; margin-top:30px; }
.wrapper .section_visual .visual_wrap .slide_box .slide_img {width:49%; padding:0 1% 0 0; text-align:left;}
.wrapper .section_visual_mob {display:none;}


.swiper-container {width: 100%; height:100vh;  max-width:1560px; }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  /* ============================================================================
    section_systab
============================================================================ */
.wrapper .section_systab {width:100%; max-width:2500px; background:linear-gradient(to right, #0c95f5,rgba(12,149,245, .7)); background-size:151% 100%;}
.wrapper .section_systab .systab_wrap {width:100%; height:1080px; max-width:1920px;  margin-left:auto; margin-right:auto;   }
.wrapper .section_systab .systab_wrap .tab_menu .tabs {display:flex; justify-content:center; padding-top:222px;}
.tabs li { font-size:18px; font-weight:lighter; padding:13px 0px;  color:#fff; cursor:pointer; border:1px solid #fff; border-radius: 30px; margin:0 10px; width:100%; max-width:236px; text-align: center; transition:all ease .3s;}

.systab_active {background:#fff; color:#1498f5; border:1px solid #1498f5; padding:100px;}

/* .wrapper .section_systab .systab_wrap .tab_content {width:100%;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con {width:100%; display:flex;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text {flex:1;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text h2 {font-size:68px; width:98%;font-weight:bold; color:#fff; padding:158px 0 64px 8%; }
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text p {font-size:19px; width:98%;font-weight:lighter; color:#fff; padding: 0 0 0 8%; line-height: 1.4;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img {flex:1;  padding:138px 1% 0 3.5%;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img img {width:100%; min-width:650px; max-width:780px;} */
.wrapper .section_systab .systab_wrap .tab_content {width:100%;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con {width:100%; display:block;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text {float:left; width:40%; padding-left:7%; padding-right:3%;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text h2 {font-size:68px; width:100%;font-weight:bold; color:#fff; padding:158px 0 64px 0%; }
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text p {font-size:19px; width:100%;font-weight:lighter; color:#fff; padding: 0 0 0 0%; line-height: 1.4;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img {  float:right;width:46%; padding:138px 2% 0 1%;}
.wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img img {width:100%; min-width:550px; max-width:780px;}


/* ============================================================================
    section_roadmap
============================================================================ */
.wrapper .section_roadmap {width:100%; max-width:2500px; background:#fff;}
.wrapper .section_roadmap .roadmap_wrap {width:100%; height:1080px; max-width:1920px;  margin-left:auto; margin-right:auto; display:flex; justify-content: center; align-items: center;  }
.wrapper .section_roadmap .roadmap_wrap .roadmap_con {width:100%; height:100%; max-width:1234px; max-height:630px; background:url('../images/roadmap.png') center no-repeat; background-size:100%; }
.wrapper .section_roadmap .roadmap_wrap .roadmap_con_m {display:none;}

/* ============================================================================
    section_members
============================================================================ */
.wrapper .section_members {width:100%; max-width:2500px; background:linear-gradient(to right, #0c95f5,rgba(12,149,245, .7)); background-size:151% 100%;}
.wrapper .section_members .members_wrap {width:100%; height:1080px; max-width:1920px;  margin-left:auto; margin-right:auto; display:flex; display:flex; justify-content: center; align-items: center;  }
.wrapper .section_members .members_wrap .members_con {display:flex;  flex-wrap: wrap; max-width:1350px;}
.wrapper .section_members .members_wrap .members_con figure {flex:1 1 auto; width:100%; max-width:270px;text-align:center; margin-top:60px;}
.wrapper .section_members .members_wrap .members_con figure > img {}
.wrapper .section_members .members_wrap .members_con figure > figcaption > span {display:block; font-size:16px; font-weight:lighter; color:#fff;text-align:center; margin-top:5px;}
.wrapper .section_members .members_wrap .members_con figure > figcaption > span:first-child {margin:34px 0 14px 0; font-size:18px; font-weight:400;}

@media screen and (max-width:1400px) {
    .wrapper .section_members .members_wrap .members_con {display:flex;  flex-wrap: wrap; max-width:1350px; justify-content: center;}
    .wrapper .section_members .members_wrap {height:auto;}

    .wrapper .section_systab .systab_wrap {width:100%; height:auto; max-width:1920px;  margin-left:auto; margin-right:auto;   }
    .wrapper .section_systab .systab_wrap .tab_content .systab_con {width:100%; display:block;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text {float:none; width:760px; padding-left:0%; padding-right:0%; margin:auto;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text h2 {font-size:68px; width:100%;font-weight:bold; color:#fff; padding:158px 0 64px 0%; }
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text p {font-size:19px; width:100%;font-weight:lighter; color:#fff; padding: 0 0 0 0%; line-height: 1.4;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img {  float:none;width:90%; padding:138px 5% 250px 5%; text-align:center;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img img {width:100%; min-width:550px; max-width:900px;}
}

@media screen and (max-width:1180px) {
    .wrapper .section_intro .intro_wrap .intro_text {position:absolute; top:50%;transform:translateY(-50%); margin-left:10%; width:90%; max-width:760px; z-index:2;  text-shadow:2px 2px 1px #fff;}
    .wrapper .section_intro .intro_wrap .intro_text > h2 {font-size:62px; color:#1d9cf5; font-weight:bold;}
    .wrapper .section_intro .intro_wrap .intro_text > h3 {font-size:28px; color:#1d9cf5; font-weight:400; padding:72px 0 52px 0; }
    .wrapper .section_intro .intro_wrap .intro_text > p  {font-size:18px; color:#242424; font-weight:lighter; line-height:1.3; }
    
    .wrapper .section_intro .intro_wrap .intro_img { max-width:586px; position:absolute; top:300px; left:40%;  }
    
    .wrapper .section_systab .systab_wrap {width:89%; padding:220px 5.5% 220px 5.5% ; height:auto;  margin-left:auto; margin-right:auto;   }
    .wrapper .section_systab .systab_wrap .tab_menu .tabs {padding-top:0; display:flex; justify-content:center; }
    .tabs li { font-size:18px; font-weight:lighter; padding:13px 0px;  color:#fff; cursor:pointer; border:1px solid #fff; border-radius: 30px; margin:0 10px; width:100%; max-width:236px; text-align: center; transition:all ease .3s;}
    .systab_active {background:#fff; color:#1498f5; border:1px solid #1498f5; padding:100px;}
    .wrapper .section_systab .systab_wrap .tab_content {width:100%;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con {width:100%; display:block;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text {flex:none;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text h2 {font-size:68px; width:100%;font-weight:bold; color:#fff; padding:15.25vw 0 10.3vw 0%; }
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text p {font-size:19px; width:100%;font-weight:lighter; color:#fff; padding: 0 0 15.27vw 0%; line-height: 1.5;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img {flex:none; width:100%; padding:0;text-align:center;}    
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img img {width:100%; min-width:300px; max-width:none;}
}

@media screen and (max-width:1100px) {
    .wrapper header .gnb_pc{display:none;}
    .wrapper header .gnb_mob{display:block;}

    /* menu_toggle */
    .wrapper header .gnb_mob .menu_toggle {position:absolute; top:50%; right:6.2611%;  transform:translateY(-50%); background:rgba(255, 255, 255, 0);  cursor:pointer; padding:1.3em; z-index:30000;}
    .wrapper header .gnb_mob .menu_toggle > div {position:absolute; width:50px; height:2px; border-radius:3px; background:#fff; transition:all ease-in-out 200ms; }
    .wrapper header .gnb_mob .scroll_toggle div {background:#1498f5;}

    .wrapper header .gnb_mob .menu_toggle > div:nth-child(1) {top:15%; left:50%; transform:translateX(-50%);}
    .wrapper header .gnb_mob .menu_toggle > div:nth-child(2) {top:50%; left:50%; transform:translate(-50%, -50%);}
    .wrapper header .gnb_mob .menu_toggle > div:nth-child(3) {bottom:15%; left:50%; transform:translateX(-50%);}
    .wrapper header .gnb_mob .menu_toggle > .hamburger:nth-child(1) {top:50%; left:50%; transform:translate(-50%, -50%) rotate(135deg); background:#fff; transition:all ease-in-out 200ms;}
    .wrapper header .gnb_mob .menu_toggle > .hamburger:nth-child(2) {left:50%; transform:translate(-50%, -50%) scale(2); opacity:0;   background:#fff; transition:all ease-in-out 200ms;}
    .wrapper header .gnb_mob .menu_toggle > .hamburger:nth-child(3) {bottom:50%; left:50%; transform:translate(-50%, 50%) rotate(-135deg); background:#fff; transition:all ease-in-out 200ms;}
    
    
    .wrapper header .gnb_mob {width:100%; }
    .wrapper header .gnb_mob > .menu_con {background:rgba(0, 136, 233, 0.9); width:82.78%; padding:9.75vw 8.61%; position:absolute; top:-2000px;right:0; transition:all ease-in-out 350ms; z-index:20000;}
    .wrapper header .gnb_mob > .menu_con li {width:100%;}
    .wrapper header .gnb_mob > .menu_con li:last-child span:nth-child(2) {margin:0 0 0 40px;}
    .wrapper header .gnb_mob > .menu_con li a {color:#fff; font-size:5.2083vw; font-weight:300; padding:4.028vw 0; display:inline-block;width:100%; text-align: left; letter-spacing:1.3px; }
    .wrapper header .gnb_mob > .menu_con li:last-child > a {width:none;display:inline-block; width:auto;}
    .wrapper header .gnb_mob > .menu_con li:last-child > a:first-child {margin-right:10px;}
    .wrapper header .gnb_mob .con_toggle {position:absolute; top:0;}
}
@media screen and (max-width:850px) {
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text {float:none; width:89%; padding-left:0%; padding-right:0%; margin:auto;}
    .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text h2 {line-height:1.3;}
}


@media screen and (max-width:768px) {
    .wrapper .side_left {display:none;}
    .wrapper .side_right {display:none;}
    .wrapper .side_left_mo {display:block; z-index:500; bottom:14vw;}
    .wrapper .side_left_mo > ul > li {margin:4vw 0;}
    .wrapper .side_left_mo > ul > li:last-child{margin-top:4vw;}
    .wrapper .side_right_mo {display:block; z-index:500;}
    .wrapper .side_right_mo li {width:12.08vw; }
    .wrapper .side_right_mo li img {width:100%; min-width:60px;}
    
    

    /* main */
    .wrapper .main_area {display:none;}
    .wrapper .main_area_mob {display:block; width:100%; height:1080px; background:url('../images/bg_main_mo.jpg') no-repeat;  background-position:50% 0%; background-size:100%;}

    /* intro */
    .wrapper .section_intro {display:none;}
    .wrapper .section_intro_mob {display:block; width:100%; height:auto; background:url('../images/bg_intro_mo.jpg') no-repeat; background-position:50% 30%; background-size:100%;}
        
    .wrapper .section_intro_mob .intro_wrap {width:89%; padding:0 5.5% 72.2vw; max-width:1920px;  margin-left:auto; margin-right:auto; position:relative;}
    
    .wrapper .section_intro_mob .intro_wrap  h2 {font-size:10vw; color:#1d9cf5; font-weight:bold; padding-top:40vw;}
    .wrapper .section_intro_mob .intro_wrap  h3 {font-size:5vw; color:#1d9cf5; font-weight:400; padding:13.333vw 0 17.333vw 0; }
    .wrapper .section_intro_mob .intro_wrap  p  {font-size:3.6vw; color:#242424; font-weight:lighter; line-height:1.3; padding-bottom:50.3333vw;}
    
    /* video */
    .wrapper .section_video {width:100%; height:auto; background:linear-gradient(to right, #0c95f5,rgba(12,149,245, .7)); background-size:151% 100%;}
    .wrapper .section_video .video_wrap {width:100%; height:auto;   margin-left:auto; margin-right:auto;  position:relative; padding:44vw 0 70vw; }
    .wrapper .section_video .video_wrap .video_box { width:100%; height:67.189vw;  padding:0;  } 
    .wrapper .section_video .video_wrap iframe {  width:100%; height:100%; min-height:none; max-width:none;}

    /* slide */

   .wrapper .section_visual {display:none; }
   .wrapper .section_visual_mob {display:block; width:89%; padding:0 5.5%; padding-top:27.55vw;padding-bottom:72.2vw;}
   .swiper-container {width: 100%; height:auto;}
   .wrapper .section_visual_mob .swiper-container .swiper-pagination { }
   .wrapper .section_visual_mob .swiper-container .swiper-slide { flex-wrap:wrap; height:auto; }
   .wrapper .section_visual_mob .swiper-container .swiper-slide .slide_text .text_pos {text-align:center; }
   .wrapper .section_visual_mob .swiper-container .swiper-slide .slide_text .text_pos h2 {font-size:6vw; font-weight:400; color:#1d9cf5; line-height:1.3; text-align:left; }
   .wrapper .section_visual_mob .swiper-container .swiper-slide .slide_text .text_pos p {font-size:3.6vw;font-weight:lighter; color:#232323; line-height:1.3;  text-align:left;  margin:10vw 0 15vw 0;}
   .wrapper .section_visual_mob .swiper-container .swiper-slide .slide_text .text_pos p br{display:none;}
   .slide_img {margin-bottom:7vw;}
   .slide_img > img {display:block; width:100%; }

   /* sys tab */ 
   .wrapper .section_systab .systab_wrap {width:89%; padding:27.7vw 5.5% 72.2vw 5.5% ; height:auto;  margin-left:auto; margin-right:auto;   }
   .wrapper .section_systab .systab_wrap .tab_menu .tabs {padding-top:0; display:flex; justify-content:center; }
   .tabs li { font-size:18px; font-weight:lighter; padding:13px 0px;  color:#fff; cursor:pointer; border:1px solid #fff; border-radius: 30px; margin:0 10px; width:100%; max-width:236px; text-align: center; transition:all ease .3s;}
   .systab_active {background:#fff; color:#1498f5; border:1px solid #1498f5; padding:100px;}
   .wrapper .section_systab .systab_wrap .tab_content {width:100%;}
   .wrapper .section_systab .systab_wrap .tab_content .systab_con {width:100%; display:block;}
   .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text {flex:none;}
   .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text h2 {font-size:10vw; width:100%;font-weight:bold; color:#fff; padding:15.25vw 0 10.3vw 0%; }
   .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text p {font-size:3.6vw; width:100%;font-weight:lighter; color:#fff; padding: 0 0 15.27vw 0%; line-height: 1.5;}
   .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_text p br{ display:none;}
   .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img {flex:none; width:100%; padding:0;}    
   .wrapper .section_systab .systab_wrap .tab_content .systab_con .tab_img img {width:100%; min-width:300px; max-width:780px;}


   /* roadmap  */
   .wrapper .section_roadmap .roadmap_wrap {width:100%; height:auto; max-width:1920px; padding:27.7vw 0 72.2vw; margin-left:auto; margin-right:auto; display:flex; justify-content: center; align-items: center;  }
   .wrapper .section_roadmap .roadmap_wrap .roadmap_con {display:none;}
   .wrapper .section_roadmap .roadmap_wrap .roadmap_con_m {display:block;}
   .wrapper .section_roadmap .roadmap_wrap .roadmap_con_m img {width:100%;}

   /* members */
   .wrapper .section_members .members_wrap {width:100%; height:auto; max-width:1920px; padding:27.7vw 0 72.2vw; margin-left:auto; margin-right:auto; display:flex; display:flex; justify-content: center; align-items: center;  }
   .wrapper .section_members .members_wrap .members_con {display:flex;  flex-wrap: wrap; justify-content: space-around; max-width:1350px;}
   .wrapper .section_members .members_wrap .members_con figure {flex:1 1 auto; width:100%; max-width:270px;text-align:center; margin-top:65px;}
   .wrapper .section_members .members_wrap .members_con figure > img {}
   .wrapper .section_members .members_wrap .members_con figure > figcaption > span {display:block; font-size:16px; font-weight:lighter; color:#fff;text-align:center; margin-top:5px;}
   .wrapper .section_members .members_wrap .members_con figure > figcaption > span:first-child {margin:34px 0 14px 0; font-size:18px; font-weight:400;}
   

}

@media screen and (max-width:450px) {
   .wrapper .section_systab .systab_wrap .tab_menu .tabs {padding-top:0; display:block; justify-content:center; }
   .tabs li { font-size:18px; font-weight:lighter; padding:13px 0px;  color:#fff; cursor:pointer; border:1px solid #fff; border-radius: 30px; margin:0 auto 15px; width:100%; max-width:250px; text-align: center; transition:all ease .3s;}
   .wrapper header {height:90px;}
   .wrapper header .gnb_mob .menu_toggle > div {position:absolute; width:40px; height:2px; border-radius:3px; background:#fff; transition:all ease-in-out 200ms; }
   .wrapper header .gnb_mob .scroll_toggle div {background:#1498f5;}
   .wrapper header .logo {float:left; width:40%;}
   .wrapper header .logo > a > img {width:100%;}

    .wrapper .side_left_mo {display:block; z-index:500; bottom:15vw;left:10px;}
    .wrapper .side_left_mo > ul > li {margin:4vw 0;}
    .wrapper .side_left_mo > ul > li > a {display:inline-block;}
    .wrapper .side_left_mo > ul > li  img { max-width:40px; max-height:40px; width:100%;}
    .wrapper .side_left_mo > ul > li:last-child{margin-top:4vw;}
    .wrapper .side_right_mo {display:block; z-index:500;bottom:1vw; right:5px;}
    .wrapper .side_right_mo li {width:12.08vw; }
    .wrapper .side_right_mo li img {width:100%; min-width:40px;}
    
    .wrapper header .gnb_mob > .menu_con {padding:10vw 9%; }
    .wrapper header .gnb_mob > .menu_con li:last-child > a{padding:4.8vw 0; display:inline-block; width:auto;}
    .wrapper header .gnb_mob > .menu_con li a {color:#fff; font-size:6.2083vw;  padding:4.8vw 0;  }

}